<%= render "shared/error", obj: @schedule %>

<div class="new-container">

  <h2>予定登録</h2>

  <%= form_with model: @schedule do |f| %>
    <table>
      <tr>
        <th><%= f.label :title, "タイトル" %></th>
        <td><%= f.text_field :title %></td>
      </tr>

      <tr>
        <th><%= f.label :start_date, "開始日" %></th>
        <td><%= f.date_select :start_date %></td>
      </tr>

      <tr>
        <th><%= f.label :end_date, "終了日" %></th>
        <td><%= f.date_select :end_date %></td>
      </tr>

      <tr>
        <th><%= f.label :all_day, "終日" %></t>
        <td><%= f.check_box :all_day %></td>
      </tr>

      <tr>
        <th><%= f.label :memo, "メモ" %></th>
        <td><%= f.text_area :memo %></td>
      </tr>
    </table>

    <div class="link">
      <ul>
        <li><%= f.submit "登録" %></li>
        <li><%= link_to "一覧に戻る", :schedules ,class:"link"%></li>
      </ul>
    </div>

  <% end %>

</div>
